[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/vim-slime"]
	path = .vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
